* {
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}


.like-a {
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.btn:hover {
  color: blue;
  text-decoration: underline;
}

.delete-btn:hover {
  color: red;
  text-decoration: underline;
}


header {
  width: 100%;
  height: min(10vh, 80px);
}

header {
  background-color: sandybrown;
  position: fixed;
  top: 0;
  z-index: 10000;
  display: flex;
}

main {
  width: 100%;
  margin-top: min(10vh, 80px);
}

footer {
  width: 100%;
  height: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__leading {
  height: 100%;
  margin: 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__leading a{
  color: orangered;
  font-size: 24px;
}

.header__activate {
  width: 200px;
  height: 50px;
  background-color: azure;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__right {
  height: 100%;
  position: absolute;
  right: 20px;
  display: flex;
}

.header__right .menu {
  margin-right: 20px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__user {
  padding: 10% 0;
}

.header__user .icon {
  background-color: aliceblue;
  border-radius: 15%;
}

.plans {
  width: 100%;
  background-color: orchid;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.plan {
  width: 500px;
  height: 100px;
  background-color: bisque;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px gray;
  margin-bottom: 40px;
}

.plan__header {
  display: flex;
  justify-content: space-between;
}

.stages,
.stages-loader {
  width: 100%;
  /* 100vh - header - footer */
  height: calc(100vh - min(10vh, 80px) - 30px);
}

.stages {
  display: flex;
  flex-direction: column;
  align-items : center;
  padding: 0 20px 0;
}

.stages__header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stages__inner {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: clip;
}

.stages .scroll-area {
  width: 100%;
  height: 100%;
  background-image: url(../images/texture_00003.jpg);
  display: flex;
  align-items: center;
  padding: 20px 0;
  overflow-x: scroll;
}

.stages .scroll-area::-webkit-scrollbar {
  display: none;
}

.pending-stage,
.done-stage {
  height: 150px;
  width: 80vw;
  background-color: #ffe7bb;
  position: absolute;
  left: 50%;
  z-index: 1500;
  padding-top: 10px;
}

.pending-stage {
  border-radius: 0 0 20px 20px;
  transform: translate(-50%, -105%);
  top: 0;
  box-shadow: 0 5px 10px gray;
}

.done-stage {
  border-radius: 20px 20px 0 0;
  transform: translate(-50%, 105%);
  bottom: 0;
  box-shadow: 0 -5px 10px gray;
}

.slideout .slideout-handle {
  width: 20%;
  min-width: 7em;
  max-width: 150px;
  height: 35px;
  background-color: #ffe7bb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pending-stage .slideout-handle {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 5px 10px gray;
}

.done-stage .slideout-handle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -5px 10px gray;
}

.sliding-out {
  animation: slideout 0.1s ease-in-out forwards;
}

@keyframes slideout {
  100% {
    transform: translate(-50%, 0);
  }
}

.stage-wrapper {
  height: 100%;
  flex-shrink: 0;
  display: flex;
}

.stage {
  width: 300px;
  background-color: #ffe7bb;
  border-radius: 15px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.stage-drop.droppable {
  width: 30px;
  height: 100%;
  flex-shrink: 0;
  background-clip: padding-box;
  border-left: calc(28px / 2) solid rgba(0, 0, 0, 0);
  border-right: calc(28px / 2) solid rgba(0, 0, 0, 0);
}

.stage__header {
  width: 100%;
}

.stage__higher-menu {
  width: 100%;
  /* stage__handle のスペースを確保 */
  height: 40px;
  display: flex;
  justify-content: end;
}

.stage__higher-menu .btn,
.stage__higher-menu .bi {
  aspect-ratio: 1 / 1;
  width: 20px;
  height: 20px;
}

.stage__higher-menu .btn {
  margin-left: 10px;
}


.stage__lower-menu {
  width: 100%;

}

.stage__name {
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stage__description {
  width: 100%;
  height: 3.2em;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}


.stage__description > .popup {
  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;
  padding: 10px;
  background-color: white;
  /* border: 1px solid #000; */
  position: absolute;
  bottom: 0;
  transform: translate(0, -10%);
  z-index: 1002;
  color: #000;
  overflow: scroll;
}

.stage__description:hover > .popup,
.stage__description > .popup:hover {
  display: block;
}

.stage__tasks {

}

.stage__handle {
  position: absolute;
  width: 10%;
  aspect-ratio: 1 / 1;
  background-color: sandybrown;
  border-radius: 50%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  /* 親要素(.stage)の padding分 */
  margin-top: 20px;
  box-shadow: 0 5px 10px black;
}

.tasks {
  width:100%;
  height: 100%;
  overflow-y: scroll;
}

.tasks::-webkit-scrollbar {
  display: none;
}

.tasks__inner {
  width: 100%;
}

.stage .task-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pending-stage .tasks__inner,
.done-stage .tasks__inner {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  grid-template-rows: repeat(auto-fill, 60px);
  position: relative;
}

.pending-stage .tasks__inner::-webkit-scrollbar,
.done-stage .tasks__inner::-webkit-scrollbar {
  display: none;
}


.slideout .tasks {
  padding: 0 10px 0;
  display: flex;
}

.slideout .task-wrapper {
  display: flex;
  justify-content: space-around;
}


.task {
  aspect-ratio: 5 / 1;
  width: 200px;
  background-color: azure;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  position: relative;
}


.pending-stage .task,
.done-stage .task {
  margin: 10px 0;
}

.task__handle {
  aspect-ratio: 1 / 1;
  height: 100%;
  background-color: chartreuse;
}

.task__header {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  position: relative;
}

.task__name {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.task__menu {
  width: 100%;
  display: flex;
  justify-content: end;
}

.task__description {
  display: none;
  width: 100%;
  background-color: inherit;
}

.stage .task-drop.droppable {
  width: 100%;
  height: 20px;
  background-clip: padding-box;
  border-top: calc(18px / 2) solid rgba(0, 0, 0, 0);
  border-bottom: calc(18px / 2) solid rgba(0, 0, 0, 0);
}

.slideout .task-drop.droppable {
  width: 20px;
  /* taskのheight + 10px */
  height: 50px;
  background-clip: padding-box;
  border-left: calc(18px / 2) solid rgba(0, 0, 0, 0);
  border-right: calc(18px / 2) solid rgba(0, 0, 0, 0);
  margin: 5px 0;
}

.drag-handle {
  cursor: grab;
  z-index: 1001;
}

.dragging-from {
  opacity: 0.5;
}

.dragging {
  cursor: grabbing;
  position: absolute;
  z-index: 2000;
}

.dragging-over {
  background-color: blue;
}

.task-form {
  width: 100vw;
  /* 100vh - header - footer */
  height: calc(100vh - min(10vh, 80px) - 30px);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs-wrapper {
  display:flex;
  justify-content: space-around;
}

.task-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.timers-wrapper {
  width: 100%;
  /* 100vh - header */
  height: calc(100vh - min(10vh, 80px));
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timers {
  width: min(80vw, 80vh);
  height: min(80vw, 80vh);
  min-width: 300px;
  min-height: 300px;

  background-color: ivory;
}

.timers__header {
  width: 100%;
  height: 10%;
  background-color: orange;
}

.timers__area {
  width: 100%;
  height: 90%;
  position: relative;
}

.timer-main {
  height: 70%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.timer-pi {
  width: 100%;
  height: 100%;
  position: absolute;
}

.timer-sub {
  height: 50%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-main__inner,
.timer-sub__inner {
  position: absolute;
  z-index: 1000;
}

.timer-main__inner .remain-time {
  width: 6rem;
  transform: translate(-25%, 0);
}

.timer-main__inner .entire-time {
  transform: translate(25%, 0);
}

.timer-main__inner .entire-time input {
  display: inline-block;
  width: 2rem;
}

.timer-main__inner .entire-time input.hour {
  width: 2.5rem;
}


.timer-btns {
  height: 30%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.timer-btn {
  width: 80%;
  aspect-ratio: 1 / 1;
  background: lemonchiffon;
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
}

.timer-btn svg {
  width: 80%;
  height: 80%;
}

.bi-start {
  transform: translate(5%, 0);
}

.timer-btn:hover::after {
  content: "開始・停止";
  width: 5rem;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 30%);
  z-index: 1010;
}

.reset-btn {
  width: 40%;
  height: 40%;
  background: silver;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1001;
}

.reset-btn svg {
  width: 60%;
  height: 60%;
  transform: translate(0, 7%);
}

.reset-btn:hover::after {
  content: "リセット";
  width: 4rem;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 30%);
  z-index: 1010;
}


.time-logs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.progresses-wrapper {
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progresses {
  width: 70%;
  height: 100%;
  overflow: hidden scroll;
}

.progresses__header {
  width: 100%;
  display: flex;
}

.progress {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.progress > .stage-name {
  width: 25%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.progress .progress__meter {
  width: 50%;
  border: 1px solid black;
  border-radius: 1000000px;
  overflow: hidden;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}

.progress .remain-time {
  position: absolute;
  left: 0;
}

.progress .passed-time {
  position: absolute;
  right: 0;
}

.progress .passed-meter {
  height: 100%;
  background-color: tomato;
}

.progress > .planed-time {
  width: 25%;
}

.actual-times-wrapper {
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actual-times {
  width: 70%;
  height: 100%;
  overflow: hidden scroll;
}

.actual-time {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.actual-time > .stage-name {
  width: 50%;
}

.actual-time > .date-started {
  width: 50%;
}

.actual-time > .measured-time {
  width: 100%;
}
