<div class="time-imput">
  {% with hours=""|center:1000 range=""|center:60 %}
    <select>
      {% for _ in hours %}
        <option value="{{ forloop.counter0 }}">{% if forloop.counter0 < 100 %}0{% endif %}{% if forloop.counter0 < 10 %}0{% endif %}{{forloop.counter0}}</option>
      {% endfor %}
    </select> :
    <select>
      {% for _ in range %}
        <option value="{{ forloop.counter0 }}">{% if forloop.counter0 < 10 %}0{% endif %}{{forloop.counter0}}</option>
      {% endfor %}
    </select> :
    <select>
      {% for _ in range %}
        <option value="{{ forloop.counter0 }}">{% if forloop.counter0 < 10 %}0{% endif %}{{forloop.counter0}}</option>
      {% endfor %}
    </select>
  {% endwith %}
</div>
