<svg class="timer-pi" viewBox="0 0 100 100">
  <path d="M 50 90 A 40 40 0 0 1 50 90" class="overhalf-circle active" stroke-width="8" stroke="#6fdb6f" fill="none"></path>
  <path d="M 50 10 A 40 40 0 0 1 50 10" class="underhalf-circle active" stroke-width="8" stroke="#6fdb6f" fill="none"></path>
  <path d="M 50 90 A 40 40 0 0 1 50 10" class="hidden" stroke-width="8" stroke="red" fill="none"></path>
  <path d="M 50 10 A 40 40 0 0 1 50 90" class="hidden" stroke-width="8" stroke="red" fill="none"></path>
</svg>
