{% load filters %}

<div class="stage-wrapper draggable" drag-group="stage" stage-id="{{ stage.pk }}" order="{{ stage.order }}">
  <div class="stage">
    <div class="stage__handle drag-handle"></div>
    <div class="stage__header">
      <div class="stage__higher-menu">
        <a href="{% url 'stages:edit' plan.pk stage.pk %}" class="btn">{% include "_icon_pencil_square.html" %}</a>
        <form action="{% url 'stages:delete' plan.pk stage.pk %}" delete-group="stage" delete-name="{{ stage.name }}" method="post" class="btn">
          {% csrf_token %}
          <button type="submit" class="delete-btn like-a">{% include "_icon_trash.html" %}</a>
        </form>
      </div>
      <div class="stage__lower-menu">
        <div class="stage__name">{{ stage.name }}</div>
        <div class="stage__description">
          {{ stage.description|linebreaksbr }}
          {% comment %} css の stage__description の -webkit-line-clamp の値を参照のこと {% endcomment %}
          {% if stage.description|linebreaksbr|split:"<br>"|length > 3 %}
            <div class="popup hidden">{{ stage.description|linebreaksbr }}</div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="tasks vertical-scroll horizontal-fixed">
      <div class="task-wrapper">
        <div class="task-drop droppable" drop-group="task" stage-id="{{ stage.pk }}" order="0"></div>
      </div>
      <div class="tasks__inner">
        {% for task in stage.task_set.all|dictsort:"order" %}
          {% include "tasks/_task.html" %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="stage-drop droppable" drop-group="stage" stage-id="{{ stage.pk }}" order="{{ stage.order }}"></div>
</div>
