<div class="stage-wrapper draggable" drag-group="stage" stage-id="{{ stage.pk }}" order="{{ stage.order }}">
  <div class="stage">
    <div class="stage__handle drag-handle"></div>
    <div class="stage__header">
      <div class="stage__left-menu">
        <div class="stage__name">{{ stage.name }}</div>
        <div class="stage__description">{{ stage.description }}</div>
      </div>
      <div class="stage__right-menu">
        <a href="{% url 'stages:edit' plan.pk stage.pk %}" class="btn">編集</a>
        <form action="{% url 'stages:delete' plan.pk stage.pk %}" method="post" class="delete">
          {% csrf_token %}
          <button type="submit" class="delete-btn like-a">削除</a>
        </form>
      </div>
    </div>
    <div class="tasks vertical-scroll horizontal-fixed">
      <div class="task-wrapper">
        <div class="task-drop droppable" drop-group="task" stage-id="{{ stage.pk }}" order="0"></div>
      </div>
      <div class="tasks__inner">
        {% for task in stage.task_set.all|dictsort:"order" %}
          {% include "tasks/_task.html" %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="stage-drop droppable" drop-group="stage" stage-id="{{ stage.pk }}" order="{{ stage.order }}"></div>
</div>
