{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Learners' Torch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="{% static 'icons/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="{% static 'stylesheets/base.css' %}">
    {% block extendhead %}{% endblock %}
  </head>
  <body>
    <header>
      <div class="header__leading">
        <a href="{% url 'top' %}">Learners' Torch</a>
      </div>
      {% if user.is_authenticated %}
        <div class="header__activate">
          <a href="#" class="btn">最近のタスク</a>
        </div>
        <div class="header__right">
          <div class="menu">
            <div class="header__plan-new">
              <a href="{% url 'plans:new' %}" class="btn">
                新しいプラン
              </a>
            </div>
            <form action="{% url 'users:logout' %}" method="post" class="header__logout">
              {% csrf_token %}
              <button type="submit" class="btn like-a">ログアウト</button>
            </form>
          </div>
          <div class="header__user">
            <img src="{% static 'images/dummy_icon.png' %}" alt={{ user.username }} class="icon">
          </div>
        </div>
      {% else %}
        <div class="header__right">
          <div class="menu">
            <div class="header__signup">
              <a href="{% url 'users:signup' %}" class="btn">新規登録</a>
            </div>
            <div class="header__login">
              <a href="{% url 'users:login' %}" class="btn">ログイン</a>
            </div>
          </div>
        </div>
      {% endif %}
    </header>
    <div class="header-spacer"></div>
    <main>
    {% block main %}{% endblock %}
    </main>
    <footer>
      <div class="copyright">&copy;ArgonSys</div>
    </footer>
  </body>
</html>
