{% extends "base.html" %}


{% block main %}
<div class="login-wrapper">
  <div class="login-menu">
    <div class="left-menu">
      <h3 class="login-heading">Login</h3>
      <div class="signup-link">
        <p>ご登録がまだの方は<a href="{% url 'users:signup' %}" class="btn">こちら</a></p>
      </div>
    </div>
    <form method="post" class="login-form">
      {% csrf_token %}
      {% for field in form %}
        <label for="{{ field.id_for_label }}"></label>
        {{ field }}
      {% endfor %}
      <button type="submit" class="login-btn">ログイン</button>
    </form>
  </div>
</div>
{% endblock %}
