{% extends "base.html" %}
{% load define_action %}
{% load get_val_from_dict %}
{% load time_logs_extras %}


{% block main %}
<div class="profile">
  <div class="profile__header">
    <img src={{ user.profile.icon.url }} class="icon">
    <div class="username">{{ user.username }}</div>
    <button class="edit-btn">編集</button>
  </div>
  <div class="email">{{ user.email }}</div>
  <div class="bio">{{ user.profile.bio }}</div>
  <div class="affiliation">{{ user.profile.affiliation }}</div>
  <div class="location">{{ user.profile.location }}</div>
  <ul class="links">
    {% for link in links %}
      <li class="link">
        <a href={{ link.url }} class="link__name">{{ link.name }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="graph-area">
  <canvas id="time-gap-graph"></canvas>
</div>

<div class="study-log-calender">
  <table>
    <thead>
      <tr>
        <th></th>
        {% for wday in wdays %}
          <th>{{ wday.name }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% now "Y-m-d" as today %}
    {% for week in weeks %}
      <tr>
        <th>{{ week.month }}</th>
        {% for wday in wdays %}
          {% with date=week.date_Sun|add:wday.from_Sun|date:"Y-m-d" %}
            <td>
              {% with total_time=total_time_by_date|key:date %}
                {% if total_time %}
                  <div style="background-color:#00FF00{{ total_time.hexdig_alph }};">
                    <div class="hidden">
                      <p>{{ date }}</p>
                      <p>{{ total_time.total_time|format_msec }}</p>
                    </div>
                  </div>
                {% elif date <= today %}
                  <div>
                    <div class="hidden">
                      <p>{{ date }}</p>
                      <p>{{ "0"|format_msec }}</p>
                    </div>
                  </div>
                {% endif %}
              {% endwith %}
            </td>
          {% endwith %}
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
