{% extends "base.html" %}


{% block main %}
<div class="signup-wrapper">
  <div class="signup-menu">
    <div class="left-menu">
      <h3 class="signup-heading">SignUp</h3>
      <div class="login-link">
        <p>ご登録がお済みの方は<a href="{% url 'users:login' %}" class="btn">こちら</a></p>
      </div>
    </div>
    <form method="post" enctype="multipart/form-data" class="signup-form">
      {% csrf_token %}
      {% for field in form %}
        {% if field == form.forms.profile.icon %}
          <label for="{{ field.id_for_label }}" class="img-uploader">アイコンを選択</label>
        {% else %}
          <label for={{ field.id_for_label }}></label>
        {% endif %}
        {{ field }}
        {{ field.help_text }}
        {{ field.errors }}
      {% endfor %}
      <button type="submit" class="signup-btn">新規登録</button>
    </form>
  </div>
</div>
{% endblock %}
