{% extends "base.html" %}


{% block main %}
<div class="signup-wrapper">
  <div class="signup-menu">
    <div class="left-menu">
      <h3 class="signup-heading">SignUp</h3>
      <div class="login-link">
        <p>ご登録がお済みの方は<a href="{% url 'users:login' %}" class="btn">こちら</a></p>
      </div>
    </div>
    <form method="post" class="signup-form">
      {% csrf_token %}
      {{ form }}
      {{ profile_form }}
      <button type="submit">新規登録</button>
    </form>
  </div>
</div>
{% endblock %}
