{% extends "base.html" %}
{% load static %}


{% block extendhead %}
{% comment %} drag_and_drop.jsに対するurlの受け渡し {% endcomment %}
<script> const stageSwapURL = "{% url 'stages:swap' %}" </script>
<script src="{% static 'javascripts/utils.js' %}"></script>
<script src="{% static 'javascripts/slide_out.js' %}"></script>
<script src="{% static 'javascripts/drag_and_drop.js' %}"></script>
<script src="{% static 'javascripts/horizontal_scroll.js' %}"></script>
{% endblock %}


{% block main %}
<div class="stages">
  <div class="stages__header">
    <div class="plan-name">
      {{ plan.name }}
    </div>
    <div class="stage-new">
      <a href="{% url 'stages:new' plan.pk %}" class="btn">ステージ作成</a>
    </div>
    <div class="task-new">
      <a href="{% url 'tasks:new' plan.pk %}" class="btn">タスク作成</a>
    </div>
  </div>
  <div class="stages__inner">
    <div class="pending-stage slideout slideout-handle">
      <div class="tasks">
        {% for task in pending.task_set.all %}
          {% include "tasks/_task.html" %}
        {% endfor %}
      </div>
      <div class="slideout-handle">Pending</div>
    </div>
    <div class="stages__scroll-area horizontal-scroll">
      <div class="stage-wrapper">
        <div class="stage-drop droppable" order="0"></div>
      </div>
      {% for stage in stages %}
        {% include "stages/_stage.html" %}
      {% endfor %}
    </div>
    <div class="done-stage slideout slideout-handle">
      <div class="slideout-handle">Done🎉</div>
      {% for task in done.task_set.all %}
        {% include "tasks/_task.html" %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
