{% extends "base.html" %}
{% load static %}


{% block extendhead %}
{% comment %} drag_and_drop.jsに対するurlの受け渡し {% endcomment %}
<script> const stageSwapURL = "{% url 'stages:swap' %}" </script>
<script src="{% static 'javascripts/utils.js' %}"></script>
<script src="{% static 'javascripts/slide_out.js' %}"></script>
<script src="{% static 'javascripts/drag_and_drop.js' %}"></script>
<script src="{% static 'javascripts/horizontal_scroll.js' %}"></script>
{% endblock %}


{% block main %}
<div class="stages">
  <div class="stages__header">
    <div class="plan-name">
      {{ plan.name }}
    </div>
    <div class="stage-new">
      <a href="{% url 'stages:new' plan.pk %}" class="btn">ステージ作成</a>
    </div>
  </div>
  <div class="stages__inner horizontal-scroll">
    <div class="pending-stage horizontal-fixed slideout-wrapper slideout">
      <div class="slideout-handle slideout">Pending</div>
    </div>
    <div class="stage-wrapper">
      <div class="stage-drop droppable" order="0"></div>
    </div>
    {% for stage in stages %}
      {% include "stages/_stage.html" %}
    {% endfor %}
    <div class="done-stage horizontal-fixed slideout-wrapper slideout">
      <div class="slideout-handle slideout">Done</div>
    </div>
  </div>
</div>
{% endblock %}
