<div class="task-wrapper draggable" drag-group="task" stage-id="{{ task.stage.pk }}" task-id="{{ task.pk }}" order="{{ task.order }}">
  <div class="task">
    <div class="task__handle drag-handle"></div>
    <div class="task__header">
      <div class="task__name">
        <a href="{% url 'tasks:show' task.pk %}" class="btn">{{ task.name }}</a>
      </div>
      <div class="task__menu">
        <a href="{% url 'tasks:edit' task.pk %}" class="btn">{% include "_icon_pencil_square.html" %}</a>
        <form action="{% url 'tasks:delete' task.pk %}" delete-group="task" delete-name="{{ task.name }}" method="post" class="btn">
          {% csrf_token %}
          <button type="submit" class="delete-btn like-a">{% include "_icon_trash.html" %}</a>
        </form>
      </div>
    </div>
    {% if task.description %}
      <div class="description task__description">{{ task.description|linebreaks }}</div>
    {% endif %}
  </div>
  <div class="task-drop droppable" drop-group="task" stage-id="{{ task.stage.pk }}" task-id="{{ task.pk }}" order="{{ task.order }}"></div>
</div>
