{% extends "base.html" %}


{% block main %}
<form method="post" class="task-form">
  {% csrf_token %}
  <div class="inputs-wrapper">
    <div class="task-input">
      {{ task_form }}
      <input type="submit" value="作成">
    </div>
    <div class="time-inputs">
      {% with hours=""|center:1000 %}
        <select>
          {% for x in hours %}
            <option value="{{ forloop.counter0 }}">{% if forloop.counter0 < 10 %}0{% endif %}{{forloop.counter0}}</option>
          {% endfor %}
        </select>
      {% endwith %}
    </div>
  </div>
</form>
{% endblock %}
