{% extends "base.html" %}
{% load static %}
{% load define_action %}
{% load time_logs_extras %}

{% block extendhead %}
<link rel="stylesheet" href="{% static 'stylesheets/loader.css' %}">
<script src="{% static 'javascripts/toggle_times.js' %}"></script>
{% endblock %}

{% block main %}
{% include "time_logs/_timer.html" %}
<div class="time-logs">
  <div class="progresses-wrapper">
    <h3>{{task.name}}の学習進捗</h3>
    <div class="progresses">
      {% comment %} <div class="progresses__header">
        <div>ステージ</div>
        <div>進捗 (残り時間 or 経過時間)</div>
        <div>想定時間</div>
      </div> {% endcomment %}
      {% for progress in progresses %}
        <div class="progress">
          <div class="stage-name">{{ progress.stage.name }}</div>
          <div class="progress__meter">
            <div class="passed-time"><span class="inner-text">{{ progress.passed_time|format_duration:"h:m:s" }}</span></div>
            <div class="remain-time"><span class="inner-text hidden">{{ progress.remain_time|format_duration:"h:m:s" }}</span></div>
            <div class="passed-meter" style="width:{{ progress.passed_time|ratio_in:progress.planed_time }}%;"></div>
          </div>
          <div class="planed-time">{{ progress.planed_time|format_duration:"h:m:s" }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="actual-times-wrapper">
    <h3>{{task.name}}の学習履歴</h3>
    <div class="actual-times">
      {% define None as prev_date %}
      {% for actual_time in actual_times %}
        {% if actual_time.date_started.date != prev_date %}
          <div class="date">{{ actual_time.date_started.date|date:"Y/m/d" }}</div>
          {% define actual_time.date_started.date as prev_date %}
        {% endif %}
        <div class="actual-time">
          <div class="stage-name">{{ actual_time.time_log.stage.name }}</div>
          <div class="measured-time">{{ actual_time.measured_time|format_duration:"h:m:s" }}</div>
          <div class="date-started">({{ actual_time.date_started|date:"H:i:s" }})</div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
